body {
	background: #ccc;
	/*background: url(../../images/background_wood.jpg);*/
	font-family: 'Open Sans', sans-serif;
	 /*font-family: 'Philosopher', sans-serif;*/
}

/* Start Header */

header {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

header a.emblem {
	display: block;
	width: 320px;
	height: 208px;
	margin: 0 auto;
}


header h1 a {
	font: normal 4em/1.5em 'Marck Script', cursive;
	color: #FDED00;
	text-decoration: none;
    text-shadow: 0 0 3px hsl(202, 100%, 37%), 1px 1px 0 hsl(20, 100%, 16%);
}

header nav {
	margin: 18px 0;
	border-bottom: 2.5px solid #000;
	padding-bottom: 5px;
}


header li {
	display: inline;
	border-right: 1px solid #A21;
}

header li:last-child {
	border-right:none;
}

header nav li a {
	font-size: 1.8em;
	color: #A21;
	text-decoration: none;
	padding: 0 10px;
}

header nav li a:hover {
	color: #E41;
}

footer {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	font-weight: bold;
}

footer nav {	
	margin: 18px 0;
	padding-top: 10px;
	border-top: 2.5px solid #000;
}


footer li {
	display: inline;
	border-right: 1px dotted;
}

footer li:last-child {
	border: none;
}

footer li a {
	color: #af2411;
	padding: 0 10px;
}

footer nav li a:hover {
	color: #FFF;
	background-color:#666;
}

#pages {
	width: 960px;
	margin: 0 auto;
	margin-top: 30px;
}

.handheld, #tabs {
	display: none;
}

.courtlist {
	float: left;
	width: 320px;
}

.courtlist img {
	width: 80px;
	height: 80px;
	border: 4px solid #FFF;
	position: relative;
	float: left;
    -webkit-box-shadow:0 5px 10px #000;
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
}

.courtlist h2 {
	font: normal 2em/1em 'Lobster', cursive;
	color: #A21;
	display: block;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.courtlist p {
	padding: 5px 50px 10px 0;
	font: bold 1em/1.1em 'Poiret One', cursive;
	font-weight: bold;
	font-style: italic;
	color: #540502;
}

.courtlist li {
	padding: 10px;
}

.courtlist li:hover {
	cursor: pointer;
}

.courtlist li:hover img {
	display: block;
	padding-left: 1px;
}

.courtlist .info {
    color: #674;
	width: 200px;
	float:left;
}

.courtlist .info .photoname {
	font: normal 1.3em/1em 'Istok Web', sans-serif;
	color: #674;
	display: block;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	padding-left: 10px;
}

.courtlist .info .description {
	display: block;
	padding-left: 10px;
	font-size: 0.8em;
	line-height: 1em;
}

.courtlist .info .rating {
	font: normal 1.2em/1.3em 'Open Sans', sans-serif;
	color: #A21;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	display: block;
	padding: 5px 0 10px 10px;
}

.courtlist li:hover .photoname {
	color: #A21;
}

#aboutus img {
	width: 600px;
	display: block;
	float: left;
	border: 10px solid #FFF;
    -webkit-box-shadow:0 5px 10px #000;
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
}

#aboutus .content {
	width: 300px;	
	float: left;
}

#aboutus h2 {
	font: normal 1.8em/1em 'Luckiest Guy', Helvetica, Arial, sans-serif;
	color: #A21;
	display: block;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	padding-left: 20px;
}

#aboutus p {
	float: left;
	padding: 5px 20px;
}

#map {
	position: relative;
	width: 500px;
	margin: 0 auto;
	text-align: center;
}

#map p {
	font-size: 1.7em;
	line-height: 1.3em;
	padding-bottom: 10px;
}