html {
	background: url(../../images/lady_justice_background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        font-family: 'Open Sans', sans-serif;
}

/*body {
	background: url(../../images/lady_justice_background.jpg) no-repeat;
	-moz-background-size: 100%; 
    -webkit-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: 100%; 
	font-family: 'Open Sans', sans-serif;
}*/

/* Start Header */

header {
	/*width: 960px;*/
	margin: 0 auto;
	text-align: center;
		position: relative;
}

header a.emblem {
	display: block;
	position: absolute;
	top: -117px;
	left: 34px;
	/*margin: 0 auto;*/
}

header a.emblem img {
	display: block;
}


header h1 a {
	font: normal 5em/1.5em 'Marck Script', cursive;
	color: #FDED00;
	text-decoration: none;
    text-shadow: 0 0 3px hsl(202, 100%, 37%), 1px 1px 0 hsl(191, 84%, 42%)
}

header h1 {
	padding-top: 20px;
}

header nav#topnav {
	width: 95%;
	margin: 18px auto;
	border-bottom: 2.5px solid #000;
	padding-bottom: 5px;
}


header #topnav li {
	display: inline;
	border-right: 1px solid #343434;
}

header #topnav li:last-child {
	border-right:none;
}

header nav#topnav li a {
	font-size: 1.4em;
	color: #343434;
	text-decoration: none;
	padding: 0 10px;
}

header nav#topnav li a:hover {
	color: #E41;
}

.dsanav {
	position: absolute;
	right: 0;
	top: -71px;
	background: #fff;
	border-radius: 9px;
}

.dsanav li {
	display: inline-block;
	/*float: left;*/
	padding: 6px 15px 6px 0;		
}
.dsanav li:first-child {
	padding-left: 15px;
}

.dsanav li a {
	text-decoration: none;
	font:  0.93em Arial, sans-serif;
	color: #000;
}

.dsanav li a:hover {
	color: #E41;	
}

footer {
	width: 95%;
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	font-weight: bold;
}

footer nav {	
	margin: 18px 0;
	padding: 20px 0;
	border-top: 2.5px solid #000;
}


footer li {
	display: inline;
	border-right: 1px dotted;
}

footer li:last-child {
	border: none;
}

footer li a {
	color: #af2411;
	padding: 0 10px;
	text-decoration: none;
}

footer nav li a:hover {
	color: #FFF;
	background-color:#666;
}

#pages {
	width: 960px;
	margin: 0 auto;
	margin-top: 23px;
	padding: 0 30px;
}

.handheld, #tabs {
	display: none;
}

.courtlist {
	float: left;
	width: 300px;
	/*border: 1px solid red;*/
}

.courtlist img {
	width: 80px;
	height: 80px;
	border: 4px solid #FFF;
	position: relative;
	float: left;
    -webkit-box-shadow:0 5px 10px #000;
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
}

.courtlist h2 {
	font: normal 1.8em/1em 'Lobster', cursive;
	color: #A21;
	display: block;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}

.courtlist p {
	padding: 10px 50px 10px 0;
	font: italic normal 1.1em 'PT Sans', sans-serif;
	color: #540502;
}

.courtlist li {
	padding: 10px 5px 10px 10px;
	/*border: 1px solid red;*/
}

.courtlist li:hover {
	cursor: pointer;
}

.courtlist li:hover img {
	display: block;
	padding-left: 1px;
}

.courtlist .info {
    color: #343434;
	width: 200px;
	float:left;
}

.courtlist .info .photoname {
	font: bold 1.1em 'Istok Web', sans-serif;
	color: #674;
	display: block;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	padding-left: 10px;
}

.courtlist .info .description {
	display: block;
	padding-left: 10px;
	font-size: 0.8em;
	line-height: 1em;
	font: 1em 'Forum', cursive;
}

.courtlist .info .rating {
	font: italic normal 0.9em 'fira_sansitalic',arial,sans-serif;
	color: #A21;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	display: block;
	padding: 5px 0 10px 10px;
	margin-top: 5px;
	display: block;
	z-index: 999999;
	text-decoration: none;
}

.courtlist li:hover .photoname {
	color: #A21;
}

#aboutus img {
	width: 600px;
	display: block;
	float: left;
	border: 10px solid #FFF;
    -webkit-box-shadow:0 5px 10px #000;
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
}

#aboutus .content {
	width: 300px;	
	float: left;
}

#aboutus h2 {
	font: normal 1.8em/1em 'Luckiest Guy', Helvetica, Arial, sans-serif;
	color: #A21;
	display: block;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	padding-left: 20px;
}

#aboutus p {
	float: left;
	padding: 5px 20px;
	font: 1.2em 'Forum', cursive;
	color: #343434;
}

#map {
	position: relative;
	width: 500px;
	margin: 0 auto;
	text-align: center;
		font: 1em 'Forum', cursive;
	color: #343434;
}

#map p, #map ul, #map h3 {
	font-size: 1.2em;
	line-height: 1.3em;
	padding-bottom: 10px;
}

#map h3 {
	margin-top: 10px;
}

#spinner {
	position: absolute;
	left:0;
	top:0;
	display:block;
	height:100%;
	width:100%;
	background: url(../../images/icons/spinner.gif) no-repeat center center;
}

#clicktoreturn {
	position: absolute;
	left:0;
	top:0;
	display:block;
	height:100%;
	width:100%;
	background: url(../../images/clicktoreturn.png) no-repeat center center;
}

#overlay {
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#overlay img {
	display:block;
	margin:0 auto;
	max-height: 100%;
	max-width: 100%;
}

#overlay .info {
	display: block;
	width:100%;
	margin:0 auto;
	position: absolute;
	left:0;
	bottom:0;
	color:#FFF;
	background-color: rgba(0,0,0,0.7);
}

#overlay .photoname {
	display: block;
	width:650px;
	margin:4px auto;
	font-size: 1.8em;
	font-weight:bold;
	display: block;
	color: #FFE486;
}
 
#overlay .description {
	display: block;
	width:700px;
	margin:0 auto;
}

#overlay .rating {
    display: block;
    width: 380px;
    margin: 6px auto;
    font-weight: bold;
    font-size: 1.5em;
    text-align: right;
    text-decoration: none;
    color: #fff;
}

/* Start Tabs Control */

#pages nav#tabs ul {
	padding-top: 5px;
	position: relative;  /* Center the list */
	float: left;
	left:50% ;
}

#pages nav#tabs li {
	float: left;
	background: #fe9;
	height: 40px;
	border: 1px inset #666;
	padding: 9px 20px;
	background: #ffee99; /* Old browsers */
	background: -moz-linear-gradient(top, #ffee99 0%, #bb8800 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffee99), color-stop(100%,#bb8800)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffee99 0%,#bb8800 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffee99 0%,#bb8800 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffee99 0%,#bb8800 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffee99', endColorstr='#bb8800',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffee99 0%,#bb8800 100%); /* W3C */

	-webkit-box-shadow: 2px 2px 2px #666; 
    -moz-box-shadow: 2px 2px 2px #666; 
    box-shadow: 2px 2px 2px #666;

	font: bold 10px Helvetica, Arial, sans-serif;
	color: #020000;
	text-shadow: 1px 1px 1px #FFF;
	position: relative; /* Center the list */
	right:50% ;
}	

#pages nav#tabs li.tapped {
	background: #900;
	background: -webkit-gradient(linear,
		left top,
		left bottom,
		from(#F00),
		to(#400)
	);

	-webkit-box-shadow: 2px 2px 2px #666;
	-moz-box-shadow: 2px 2px 2px #666;
	box-shadow: 2px 2px 2px #666;
	color: #FFF;
	text-shadow: none;
}

#pages nav#tabs li:first-child,
#pages nav#tabs li:first-child a:hover {
	-webkit-border-radius: 10px 0 0 10px; /* Saf3-4, iOS 1-3.2, Android <1.6 */
	-moz-border-radius: 10px 0 0 10px; /* FF1-3.6 */
	border-radius: 10px 0 0 10px; /* Opera 10.5, IE9, Saf5, Chrome, FF4, iOS 4, Android 2.1+ */
	-moz-background-clip: padding; 
	-webkit-background-clip: padding-box; 
	background-clip: padding-box; 

}
#pages nav#tabs li:last-child,
nav#tabs li:last-child a:hover {
	-webkit-border-radius: 0 10px 10px 0; 
	-moz-border-radius: 0 10px 10px 0; 
	border-radius: 0 10px 10px 0; 
 	-moz-background-clip: padding; 
 	-webkit-background-clip: padding-box; 
 	background-clip: padding-box; 
}
/* End Tabs Control */

/*фон*/
.wrapper {
	/*padding: 0 30px;*/
	background: #fff;
	width: 960px;
	margin: 120px auto 50px auto;
	border-radius: 8px;
}

