@import url("handheld.css");


#bottomnav .handheld {
	display: none;
}

#pages nav#tabs li {
	padding: 5px 40px;
	font-size: 1.5em;
	height: 45px;
}

header img {
	width: 500px;
	padding-bottom: 10px;
}

header h1 a {
	font: normal 4em/1.5em 'Marck Script', cursive;
}

footer {
	height: 70px;

}

footer nav li a {
	font-size: 1.3em;
	width: 92px;
	padding-top: 38px;
}

.courtlist {
	width: 100%;
	top: 514px;
	padding-bottom: 70px;
}

.courtlist .info {
	width: 100%;
	margin-top:20px;
	font-size: 1.3em;
}

.courtlist .info .photoname, .courtlist .info .description, .courtlist .info .price {
	padding: 0;
}

.courtlist ul {
	float: left;
}

.courtlist ul li {
	width: 252px;
	min-height: 480px;
	border: none;
	float: left;
	padding: 0 18px;
}

.courtlist ul li img {
	max-width: 100%;
	width: 100%;
	height: 200px;
	border: 5px solid #FFF;
	padding: 0;
	margin: 0;
	-webkit-box-shadow: 2px 2px 10px #000;
}

/* Start Map Page */

#map p {
	width:90%;
	margin:0 auto;
}

/* End Map Page */


/* Start About us Page */

#aboutus img {
	width: 90%;
	display: block;
	margin: 0 auto;
	float: none;
	border: 10px solid #FFF;
	padding:0;
    -webkit-box-shadow:0 5px 10px #000;
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
}

#aboutus .content {
	width: 90%;
	float: none;
	display: block;
	margin: 0 auto;

}

#aboutus h2 {
	margin-top: 15px;
}

/* End About us Page */

#aboutus p {
	float: none;
	padding: 5px 20px;
	font: 1.5em 'Forum', cursive;
	color: #343434;
}

#map p, #map ul, #map h3 {
	font-size: 1.5em;
	line-height: 1.3em;
	padding-bottom: 3px;
}

#map ul {
	padding-bottom: 65px;
}


footer nav li#fbmenu a {
	background-position: 50% 20%;
}
footer nav li#fbaboutus a {
	background-position: 50% 20%;
}
footer nav li#fbcallus a {
	background-position: 50% 20%;
}
footer nav li#fbmap a {
	background-position: 50% 20%;
}