@import url("handheld.css");


#bottomnav .handheld {
	display: none;
}

header img {
	width: 350px;
	padding-bottom: 10px;
}

header h1 a {
	font: normal 2.5em/1.5em 'Marck Script', cursive;
}

.courtlist {
	width: 100%;
	top:308px;
}

.courtlist .info {
	width: 100%;
	margin-top:20px;
}

.courtlist .info .photoname, .courtlist .info .description, .courtlist .info .price {
	padding: 0;
}

.courtlist ul {
	float: left;
}

.courtlist ul li {
	width: 252px;
	min-height: 480px;
	border: none;
	float: left;
	padding: 0 18px;
}

.courtlist ul li img {
	max-width: 100%;
	width: 100%;
	height: 200px;
	border: 5px solid #FFF;
	padding: 0;
	margin: 0;
	-webkit-box-shadow: 2px 2px 10px #000;
}

/* Start Map Page */

#map p {
	width:320px;
	margin:0 auto;
}

/* End Map Page */


/* Start About us Page */

#aboutus img {
	width: 60%;
	display: block;
	margin: 0 auto;
	float: none;
	border: 10px solid #FFF;
	padding:0;
    -webkit-box-shadow:0 5px 10px #000;
    -moz-box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.7);
}

#aboutus .content {
	width: 60%;
	float: none;
	display: block;
	margin: 0 auto;
	padding-top: 20px	;
	padding-bottom: 120px	;
}

/* End About us Page */

#aboutus p {
	float: left;
	padding: 5px 20px;
	font: 1.2em 'Forum', cursive;
	color: #343434;
}

#map p, #map ul, #map h3 {
	font-size: 1.2em;
	line-height: 1.3em;
	padding-bottom: 10px;
}
